<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

  <br>
    <% if logged_in? %>
      <%= button_to "Log out", session_url, method: :delete  %>
    <% elsif request.fullpath == "/session/new" %>
      <%= button_to "Sign Up Page", new_user_url, method: :get %>
    <% elsif request.fullpath == "/users/new"%>
      <%= button_to "Login Page", new_session_url, method: :get %>
    <% end %>
  </body>
</html>
